.resumeBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.1);
    /* background-color: black; */
    backdrop-filter: blur(2px);
    border: solid 1px;
    border-radius: 50px;
    border-color: var(--text-color);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.resumeBtn ion-icon{
    color: var(--text-color);
    font-size: var(--fs-1);
}

.resumeBtn:hover ion-icon{
    color: var(--main-color);
}
.resumeBtn:hover{
    border-color: var(--main-color);
    background-color: var(--sub-color);
    border-width: 2px
}