.container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../assets/home2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    z-index: -4;
    display: flex;
    justify-content: center;
    
}
.wrap{
    display: flex;
    justify-content: center;
    margin: 0 6rem;
    margin-top: 20vh;
    gap: 3rem;
}

.homeInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40vw;
}

.contactInfo{
    width: 30vw;
    height: 40vh;
    gap: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.contactInfo a{

    background-color: var(--sub-color);
    border: 1px solid var(--sub-alt-color);
    border-radius: 12px;
    
  

    padding: 10px 30px;
    color: var(--sub-alt-color);
}
.contactInfo a:hover{
    color: var(--main-color);
    border-color: var(--main-color);
    scale: 1.05;
}