
.container {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.text{
    
    font-size: 20px;
    margin-right: 65px;
    position: relative;
   

}

.text:after{
    background-color: var(--text-color);
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: -48px;
    top: 14px;
    width: 40px;
}

.allLinks{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (min-width:580px) {
 
    .container{
        position: fixed;
        left: 30px;
        height: 16rem;
        top: calc(50% - 10rem);
        width: 20px;
        flex-direction: column-reverse;
    }
    .text{
        margin-top: 30px;
        color: var(--text-color);
     
        line-height: 1.2;
        left: 30px;
        top: 4rem;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        white-space: nowrap;
    }
    .allLinks{
        flex-direction: column;
    }
}