.selectionContainer {
        background-color: var(--sub-alt-color);
     
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 50vw;
        height: 100vh;
        padding: 1rem;
}

.wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.itemBtn {
        display: flex;
        padding: 5px;
        margin: 1rem;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2rem;
        background-color: var(--bg-color);
        border: 1px solid;
        border-color: var(--sub-color);
        color: var(--text-color);
        border-radius: 12px;
        text-align: center;
}
.itemBtn:hover{
        background-color: var(--main-color);
        border-color: var(--text-color);
}
.active{
        border-color: var(--main-color);
}